name: Pre merge checks

on:
  pull_request:
    branches: [main,develop]
    types: [opened, reopened, edited, synchronize]

  workflow_dispatch:

jobs:
  python_lints:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./simulator
    steps:
      - uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run ruff lint
        run: ruff check --output-format=github

      - name: Run unit tests with coverage
        run: |
          python3 -m pip install coverage
          coverage run --source="./src" -m unittest discover -s ./test -v
          coverage xml

      - name: Get Cover
        uses: orgoro/coverage@v3.1
        with:
          coverageFile: ./coverage.xml
          token: ${{ secrets.TOKEN }}
          thresholdAll: 0.8
